<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../normalize.css" type="text/css">
    <title>Algebra Game!</title>
    <link rel="stylesheet" href="./EndGame.css" type="text/css">
</head>

<body>
    <div class="Contain-explications">
        <div class="Explications-title">
            <h1>¡Felicidades ganaste el juego!</h1>
        </div>
        <div class="Explications-context">
            <div class="Context">
                <div class="Context-image">
                    <div class="image-content">
                        <img src="../../assets/pngegg.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="Explications-text">
            <p class="text1">Felicidades ya estas listo para pasar Algebra Lineal ¿Viste que no era tan complicado? <br>
            Aquí te dejo algunos videos para que practiques</p>
            <a href="https://www.youtube.com/watch?v=dFmGzr1j6eY&t">Gauss-Jordan</a>
            <a href="https://www.youtube.com/watch?v=0xt6iZDKCWw">Metodo de Sarrus</a>
            <a href="https://www.youtube.com/watch?v=HHDjh4XKjdE">Cramer</a>
            <p class="text2">¡Muchas gracias por jugar!</p>

            
        </div>
        <div class="Explications-button">
            <a href="../Game/Game.html">¿Volver a jugar?</a>
        </div>
    </div>
  
</body>
<script src="./EndGame.js"></script>
</html>